/* цвет основного текста #2E2F42 */

/* вторичный цвет текста #434455 */

/* белый #FFFFFF */

/* акцент #4D5AE5 */

/* акцент №2 #F4F4FD */

/* ///////////////////////////// */
:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-text-color: #4d5ae5;
  --white-text-color: #ffffff;
  --primary-bg-color: #e5e5e5;
  --footer-text-color: #f4f4fd;
  --bcg-button-color: #404bbf;
  --border-color: #e7e9fc;
  --border-color-2: #8e8f99;
  --bcg-color-2: #31d0aa;
  --bcg-color-3: #fcfcfc;
  --bcg-color-4: #e7e9fc;
}

.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--white-text-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  text-decoration: none;
}


html, body {
  height: 100%;
  scroll-behavior: smooth;
}

main{
  flex: 1 1 auto;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2,
h3 {
  color: var(--title-text-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Box */
.box {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  margin-left: auto;
  margin-right: auto;
}

.box-adv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--footer-text-color);
  border-radius: 4px;
  margin-bottom: 8px;
}

/*-------------- MOBILE ------------*/

/* Container */
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.container-what-are-we-doing {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding: 0 15px;
}

.container-hero {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

.sapecial-container {
  padding: 32px 0;
}

.container-header {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1158px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.container-footer .text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.container-team {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container-footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17.5px;
}

.container-all-works {
  background-color: var(--white-text-color);
  padding: 32px 16px;
  border-top: none;
  display: flex;
  flex-direction: column;
  height: 140px;
}

.filters-portfolio-container {
  position: relative;
  overflow: hidden;
}

/*Page Header*/
.page-header {
  border-bottom: 1px solid #e7e9fc;

  /* for mobile menu */
  position: fixed;
  background-color: var(--white-text-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

/* Logo */
.logo,
.footer-logo {
  color: var(--accent-text-color);

  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.54px;
  font-weight: 800;
  text-decoration: none;
}
.logo {
  margin-right: 76px;
}

.header-logo-span,
.footer-logo-span {
  color: var(--title-text-color);
}

/* Header */
.page-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-p {
  border-bottom: 1px solid #e7e9fc;
}

.header-p .container {
  display: flex;
}

.site-nav .link {
  color: var(--bcg-button-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header .container {
  display: flex;
  align-items: center;
}

/* --------MENU------- */
.menu-open-button {
  min-height: 64px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

.menu-open-button:hover {
  background-color: transparent;
}

.menu-open-button .menu-open-icon {
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open-button .menu-open-icon:active,
.menu-open-icon:hover {
  fill: var(--bcg-button-color);
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-text-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-container-button {
}

.menu-close-button {
}

/* Site Nav */
.site-nav {
  display: none;
  gap: 40px;
}

.site-nav .link {
  color: var(--title-text-color);

  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.navigation {
  display: flex;
  align-items: center;
  flex: 1;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--bcg-button-color);
}

.site-nav-link.current {
  color: var(--bcg-button-color);
}

.site-nav .link::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--bcg-button-color);
  border-radius: 2px;
}

.site-nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: значення;
  border-radius: значення;
  background-color: значення;
}

.site-nav-link {
  color: var(--bcg-button-color);
}

/* Auth Nav */
.auth-nav {
  font-style: normal;
  margin-left: auto;
  display: none;
}

.auth-nav .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.auth-nav .auth {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.auth-nav .auth:hover,
.auth-nav .auth:focus {
  color: var(--bcg-button-color);
}

/* Hero */
.hero-title {
  color: var(--white-text-color);
  text-align: center;
  max-width: 496px;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section-hero {
  background-color: var(--title-text-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  /* how was */
  margin: 0 auto;
  /* for mobile menu */
  margin: 32px auto; 
}

.section-hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  padding: 112px 0;
}

/* Section */
.section-ot h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.section-title {
  color: var(--title-text-color);

  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-ot {
  background-color: var(--footer-text-color);
}

/* Features */
.section-feature {
  padding: 96px 0;
  margin: 0 auto;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.for-icons {
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--footer-text-color);
  border-radius: 4px;
}

.feature-item .title {
  color: var(--title-text-color);

  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.feature-item .text {
  color: var(--primary-text-color);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* Button */
.button {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);

  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--bcg-button-color);
}

/* button:hover,
button:focus {
  background-color: var(--bcg-button-color);
} */

button {
  font-family: inherit;
  display: block;
}

/* Footer */
.footer {
  padding: 97px 0;
}

.footer .text {
  color: var(--footer-text-color);

  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.works {
  background-color: var(--title-text-color);
}

.footer span {
  color: var(--footer-text-color);
}

/* Team */
.team {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.our-team-list {
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-text-color);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.section-ot {
  padding: 96px 0;
}

.team-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
}

.team-li {
  width: 40px;
  height: 40px;
}

.team-link {
  width: 100%;
  height: 100%;
  background-color: var(--accent-text-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons {
  fill: var(--footer-text-color);
}

.team-link:hover {
  background-color: var(--bcg-button-color);
}

.team-link:focus {
  background-color: var(--bcg-button-color);
}

.team .title {
  color: var(--title-text-color);

  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.current {
  color: var(--bcg-button-color);
  position: relative;
}

.team .text {
  color: var(--primary-text-color);
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.32px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-icon {
  fill: var(--light);
}

.team-link:hover {
  background-color: var(--bcg-button-color);
}

.team-link:focus {
  background-color: var(--bcg-button-color);
}

/* Customers */
.customers {
  padding: 96px 0;
}

.customers-title {
  color: var(--title-text-color);

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}

.customers-list {
  padding: 72px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.customers-li {
  width: 190px;
  height: 88px;
}

.customers-icon:hover,
.customers-icon:focus {
  fill: var(--bcg-button-color);
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-color-2);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--border-color-2);
  transition: border-color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover {
  border-color: var(--bcg-button-color);
  color: var(--bcg-button-color);
}

.customers-link:focus {
  border-color: var(--bcg-button-color);
  color: var(--bcg-button-color);
}

.customers-icon {
  fill: currentColor;
}

/* all works */
.all-works .title {
  color: var(--title-text-color);

  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.all-works .text {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.card-link:hover .overlay,
.card-link:focus .overlay {
  transform: translateY(0%);
}

.all-works {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  padding: 40px 32px;
  background-color: var(--accent-text-color);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all-works .link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all-works-list .link:hover,
.all-works-list .link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.all-works {
  display: grid;
  grid-template-columns: repeat(1, 280px);
  justify-content: center;
  gap: 48px;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
}

.all-works-list {

  width: 100%;
  max-width: 396px;
  
  background: var(--white-text-color);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.all-works-list .images{
  width: 100%;
  max-width: 396px;
}

/* Images */
.images {
  display: block;
}

/* Nav */
.nav-portfolio {
  display: flex;
  align-items: center;
}

/* Filter */
.section-filter {
  padding: 120px 0;
}

.filter-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 48px;
}

.filter-button {
  color: var(--accent-text-color);
  background-color: var(--footer-text-color);
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  text-align: center;
  border: 1px solid var(--border-color);
  transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-text-color);
  background-color: var(--bcg-button-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button {
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--border-color);
}

/* What we are doing */
.section-wawd {
  display: none;
  padding-bottom: 120px;
}

.photo {
  display: flex;
  gap: 24px;
}

.list-img {
  width: calc((100% - 48px) / 3);
}

/* Social */

.social-media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17.5px;
}

.social-text {
  color: var(--white-text-color);

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.social-list {
  display: flex;
  gap: 16px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--accent-text-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--bcg-color-2);
}

.social-svg {
  fill: var(--footer-text-color);
  transition-property: var(--accent-text-color) 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

/* Modal */
.container-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bcg-color-4);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--bcg-button-color);
  border: none;
  fill: var(--white-text-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 408px;
  width: 90%;
  min-height: 584px;
  background-color: var(--bcg-color-3);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.current-page {
  color: var(--bcg-button-color);
  position: relative;
}

.current-page::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: var(--ocean-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

::after,
::before {
  box-sizing: border-box;
}

.modal-text {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 16px;
}

.container-label {
  margin-bottom: 8px;
}

.label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--border-color-2);
  margin-bottom: 4px;
  display: block;
}

.container-input {
  position: relative;
}

.input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border-color: var(--accent-text-color);
}

.modal-icons {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area:focus {
  border-color: var(--accent-text-color);
}

.container-privacy {
  margin-bottom: 24px;
}

.modal-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.privacy-link {
  color: var(--accent-text-color);
}

.send-button {
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-text-color);
  cursor: pointer;
  background-color: var(--accent-text-color);
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

.container-label {
  margin-bottom: 16px;
}

/* SUBSCRIBE */
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-form-text {
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-text-color);
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white-text-color);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-text-color);
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-icon {
  margin-left: 16px;
  fill: var(--white-text-color);
}


/*!------------------ Менюшка---------------------*/
/* Гамбургер иконка */
.menu-btn {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
}
.menu-btn span {
  width: 20px;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #212121;
  transition: all 0.5s;
}
.menu-btn span:hover {
  background-color: #2196f3;
}
.menu-btn:hover .menu-btn span {
  background-color: #2196f3;
}
.menu-btn span:nth-of-type(1) {
  top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}
/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(2) {
  display: none;
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}
.menu-btn:hover .menu-btn-line {
  background-color: var(--accent-text-color);
}
/* Меню, которое будет появляться */
.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 80px 40px 40px;
  top: 0;
  gap: 284px;
  left: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  transform: translateY(-100%);
  transition: transform 0.5s;
}
.menu.active {
  transform: translateX(0);
}
.menu-navigation {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.menu-navigation a {
  text-decoration: none;
  color: var(--title-text-color);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.menu-navigation a:hover {
  color: var(--bcg-button-color);
}
.menu-contacts {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.menu-contacts-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.menu-contacts-item a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
}

.menu-contacts-item a:nth-child(2){
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.menu-contacts-item a:hover {
  color: var(--bcg-button-color);
}
.menu-soc-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
